body,html{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
header{
    width: 100%;
    height: 2.9rem;
    background: #f67a9f;
    position: fixed;
    top:0;
    left: 0;
}
header .top{
    height: .9rem;
    width: 100%;
    padding-left: 0.24rem;
    padding-right: 0.24rem;
    padding-top: 0.15rem;
}
header .top .one{
    float: left;
}
header .top .two{
    float: right;
}
header .bottom{
    padding-right: 0.24rem;
}
header .bottom .pic{
    width: 1.9rem;
    height: 1.9rem;
    float: left;
    margin-left: .6rem;
    background: #f67a9f;
    /*margin-top: .7rem;*/
}
header .bottom .con{
    width: calc(100% - 2.8rem);
    height: 1.58rem;
    float: left;
    margin-top: .1rem;
    margin-left: 0.3rem;
    /*background: aqua;*/
}
header .bottom .con .list{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header .bottom .con .one h3{
    font-weight: bolder;
}
header .bottom .con .one,.two,.three,.four{
    color: white;
}
main{
    width: 100%;
    height: 10.3rem;
    /*background: #7eb77e;*/
    margin-top: 2.9rem;
}
footer{
    height: 1.25rem;
    width: 7.02rem;
    /*background: white;*/
    position: fixed;
    bottom: 0;
    left: 0;
    overflow: hidden;
    margin-left: .24rem;
    margin-right: .24rem;
    box-shadow: 0 0 0.1rem 0.01rem rgba(0, 0, 0, .3);
    display: block;

}
main .list{
    width: 2.35rem;
    height: calc(100% - 4.15rem);
    background: blue;
    float: left;
}
main .content{
    width: calc(100% - 2.35rem);
    height: 10.3rem;
    /*background: blueviolet;*/
    float: left;
    padding-left: 0.24rem;
    padding-right: 0.24rem;
    overflow: scroll;
}
main .content ul li{
    width: 100%;
    height: 1.7rem;
    /*background: aqua;*/
    margin-top: .25rem;
    box-shadow: 0 0 0.1rem 0.1rem rgba(246, 122, 159, .5);
    display: flex;
}
main .content ul li .picture{
    margin-top: .17rem;
    margin-left: .15rem;
    float: left;
    width: 1.26rem;
    height: 1.39rem;
    overflow: hidden;
    background: url("../img/app2/picture1.png");
    background-position: -0.5rem;
}
main .content ul li:nth-child(2) .picture{
    margin-top: .17rem;
    margin-left: .15rem;
    float: left;
    width: 1.26rem;
    height: 1.39rem;
    overflow: hidden;
    background: url("../img/app2/picture2.jpeg");
    background-size: cover;
    background-position: -0.5rem;
}
main .content ul li:nth-child(3) .picture{
    background: url("../img/app2/picture3.jpeg");
    background-size: cover;
}
main .content ul li .content2{
    width: 3.11rem;
    height: 1.4rem;
    /*float: left;*/
    margin-top: .12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: .15rem;
    position: relative;
    /*justify-content: center;*/
}
main .content ul li .content2 p{
    font-size: .3rem;
    display: block;
    width: 100%;
    font-weight: bold;
}
main .content ul li .content2 span{
    font-size: .22rem;
    font-weight: 2rem;
    display: block;
    width: 100%;
    color: #d3d3d3;
}
main .content ul li .content2 .Lbtn{
    position: absolute;
    right: .8rem;
    bottom: -.05rem;
}
main .content ul li .content2 .btn{
    position: absolute;
    right: .1rem;
    bottom: -.05rem;
}
main .content ul li .content2 h2{
    font-size: .4rem;
    color: red;
    display: block;
    width: 100%;
}
main .content ul li:nth-child(1){
    margin-top: .5rem;
}
main .content ul li:nth-child(9){
    margin-bottom: 1.2rem;
}
main .list ul li{
    width: 100%;
    height: 1.2rem;
    background: #eae9e9;

}
main .list ul li:nth-child(4){
    border-bottom: 3px solid #f67a9f;
}
main .list ul li span{
    margin-left: .58rem;
    line-height: 1.2rem;
    font-size: .3rem;

}
footer .left{
    float: left;
    height: 100%;
    width: 4.65rem;
    background: white;

}
footer .left span{
    font-size: .24rem;
    color: #5c5c5c;
    display: block;
    margin-left: 1rem;
    margin-top: .33rem;
}
footer .right{
    height: 100%;
    width: 2.37rem;
    background: #5d5d5d;
    float: left;
}
footer .right p{
    color: white;
    font-size: .3rem;
    display: block;
    text-align: center;
    margin-top: .42rem;
}
footer .png img{
    position: fixed;
    left: .3rem;
    bottom: .8rem;
}


.dibu2{
    height: 1.25rem;
    width: 7.02rem;
    /*background: white;*/
    position: fixed;
    bottom: 0;
    left: 0;
    overflow: hidden;
    margin-left: .24rem;
    margin-right: .24rem;
    box-shadow: 0 0 0.1rem 0.01rem rgba(246, 122, 159, .3);
    display: none;

}
.dibu2 .left{
    float: left;
    height: 100%;
    width: 4.65rem;
    background: white;

}
.dibu2 .left span{
    font-size: .24rem;
    color: red;
    display: block;
    margin-left: 1rem;
    margin-top: .1rem;
}
.dibu2 .right{
    height: 100%;
    width: 2.37rem;
    background: #f67a9f;
    float: left;
}
.dibu2 .right p{
    color: white;
    font-size: .3rem;
    display: block;
    text-align: center;
    margin-top: .42rem;
}
.dibu2 .png img{
    position: fixed;
    left: .3rem;
    bottom: .8rem;
}